.ids__space {
  height: calc(var(--ids__density) * 0.7em);

  &.S {
    height: calc(var(--ids__density) * 0.7em);
  }
  &.M {
    height: calc(var(--ids__density) * 1.4em);
  }
  &.L {
    height: calc(var(--ids__density) * 2.4em);

    @media (width < 768px) {
        height: calc(var(--ids__density) * 1.4em);
    }
  }

  &.XL {
    height: calc(var(--ids__density) * 4em);
  
    @media (width < 768px) {
        height: calc(var(--ids__density) * 2.4em);
    }
  }

  &.XXL {
    height: calc(var(--ids__density) * 7em);
  }
}

.ids__wrapper {
  position: relative;
  width: 70%;
  margin: 0 auto;

  @media (width < 1439px) {
    &.ids__wrapper {
      width: 70%;
      padding: 0 calc(var(--ids__density) * 0.6em);
    }
  }

  @media (width < 767px) {
    &.ids__wrapper {
      width: 100%;
      padding: 0 calc(var(--ids__density) * 0.6em);
    }
  }

  &.S {
    position: relative;
    width: 50%;
    display: flex;
    margin: 0;
    padding: 0;
  }

  &.L {
    width: 80%;

    @media (width < 768px) {
      width: 100%;
      padding: 0 calc(var(--ids__density) * 0.6em);
    }
  }
  &.XL {
    width: 100%;
    padding: 0 calc(var(--ids__density) * 0.75em);

    @media (width < 768px) {
      padding: 0 calc(var(--ids__density) * 0.6em);
    }
  }
  &.XXL {
    width: 100%;

    @media (width < 768px) {
      padding: 0;
    }
  }

  & .ids__text-width {
    width: 85%;

    @media (width < 768px) {
      width: 100%;
    }
  }
}

.ids__reverse {
  display: flex;
  align-items: flex-end;

  @media (max-width: 767px) {
      align-items: flex-start;
  }

  &.item {
     text-align: right;
     flex-direction: column;

     @media (max-width: 767px) {
        text-align: left;
     }
   }
}

.ids__teammate {
  position: sticky;
  top: 2em;
  max-width: 50%;
  max-height: max-content;
  padding-right: 0.75em;
}

.ids__list {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0 0 0;

  &.head {
    margin: 0 0 -0.4em 0;
    display: flex;
    flex-direction: row;
    --columns: 2;
  }

  &.item {
    border-top: 1px solid rgba(var(--ids__text-RGB), 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0.5em 0;
  }
}

.ids__author {
  display: flex;
  align-items: center;
  gap: 0.6em
}

.ids__tag {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;

  @media (max-width: 767px) {
    width: 100%;
    font-size: 0.8em;
  }
}

.ids__btn {
  color: rgba(var(--ids__background-RGB), 1);
  background-color: rgba(var(--ids__background-RGB), 0.1);
  padding: 0.6em 1.2em;
  width: fit-content;
  transition:
      color 0.5s ease,
      background-color 0.5s ease;

    &:hover {
      background-color: rgba(var(--ids__hover-RGB), 0.8);
      transition:
        color 0s ease,
        background-color 0.5s ease;
    }

  @media (max-width: 767px) {
    padding: 0.6em 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ids__anchor {
  color: rgba(var(--ids__background-RGB), 1);
  display: inline-flex;
  align-items: center;
  gap: 1em;
  background-color: rgba(var(--ids__link-RGB), 1);
  padding: 0.8em 1em;
  width: fit-content;
  filter: drop-shadow(0px 18px 24px rgba(var(--ids__link-RGB), 0.8));
  transition:
      color 0.5s ease,
      background-color 0.5s ease;
      filter: 0.5s ease;

    &:hover {
      background-color: rgba(var(--ids__hover-RGB), 1);
      filter: drop-shadow(0px 18px 24px rgba(var(--ids__hover-RGB), 1));
      transition:
        color 0s ease,
        background-color 0s ease;
    }

  @media (width < 768px) {
    padding: 0.6em 0.8em;
    gap: 0.6em;
    filter: drop-shadow(0px 12px 18px rgba(var(--ids__link-RGB), 0.8));
    transition:
        color 0.5s ease,
        background-color 0.5s ease;
        filter: 0.5s ease;

    &:hover {
      background-color: rgba(var(--ids__hover-RGB), 1);
      filter: drop-shadow(0px 12px 18px rgba(var(--ids__hover-RGB), 1));
      transition:
        color 0s ease,
        background-color 0s ease;
    }
  }
}

.ids__sequence {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(var(--ids__density) * 0.4em);
  --gap: 0em;
  gap: var(--gap);

  &.gap-L {
    --gap: 1.5em;
    margin-bottom: calc(var(--gap) * 1.5);
  }

  &.gap-M {
    --gap: 1em;
    margin-bottom: calc(var(--gap) * 1.5);
  }

  &.gap-S {
    --gap: 0.5em;
    margin-bottom: calc(var(--gap) * 1.5);
  }

  .ids__sequence-item {
    --columns: 4;
    width: calc((100% - var(--gap) * (var(--columns) - 1)) / var(--columns));

    @media (width < 767px) {
      --columns: 2;
    }
  }

  &.XL {
    .ids__sequence-item {
      --columns: 2;

      @media (width < 767px) {
        --columns: 1;
      }
    }
  }

  &.L {
    .ids__sequence-item {
      --columns: 3;

      @media (width < 767px) {
        --columns: 1;
      }
    }
  }

  &.S {
    .ids__sequence-item {
      --columns: 6;

      @media (width < 767px) {
        --columns: 3;
      }
    }
  }
}

.ids__show {
  display: none;

  &.desktop {
    @media (min-width: 768px) {
      display: block;
    }
  }

  &.mobile {
    @media (max-width: 767px) {
      display: inline-block;
    }
  }
}

.ids__rounded {
  border-radius: var(--ids__radius);
  corner-shape: squircle;
  overflow: hidden;
}

@supports not (corner-shape: squircle) {
  .ids__rounded {
    border-radius: 0;
    border-radius: initial;
    mask:
      url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,1 c0,-1 0,-1 1,-1 l99,0 l0,100 l-100,0 Z"/></svg>') top left / calc(var(--ids__radius) * 100) no-repeat intersect,
      url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l99,0 c1,0 1,0 1,1 l0,99 l-100,0 l0,-100 Z"/></svg>') top right / calc(var(--ids__radius) * 100) no-repeat intersect,
      url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,99 c0,1 -0,1 -1,1 l-99,0 Z"/></svg>') bottom right / calc(var(--ids__radius) * 100) no-repeat intersect,
      url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="m0,0 l100,0 l0,100 l-99,0 c-1,0 -1,-0 -1,-1 Z"/></svg>') bottom left / calc(var(--ids__radius) * 100) no-repeat intersect
    ;
  }
}


header,
footer {
  padding: calc(var(--ids__density) * 1em);
  padding-bottom: calc(var(--ids__density) * 0em);
}